#canvas{
    border:1px solid black;
}

#frame{
    display: flex;
    align-items: center;
    justify-content: center;
    height:60vh;

}
*{
    margin: 0;
    padding: 0;
    border: 0;
}
h1{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20vh;
}